body {
	color: #fff;
	background-color: #B4A0C2;
	font-family: 'Noto Sans KR', sans-serif;
}

/* Header */
#header-nav {
	background-color: #E6EAF2;
	border-radius:0;
	box-shadow: 2px 2px 10px grey;
}

.navbar-brand {
	padding-top: 20px;
}

.navbar-brand h1 { /* Restaurant Name */
	font-family: 'Noto Sans KR', sans-serif;
	color: #4A5673;
	font-size: 1.5em;
	text-transform: capitalize;
	font-weight: bold;
	margin-top:0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
	float= right;
}
#nav-list a {
	color: #595F6D;
	text-align: center;
}
#nav-list a:hover {
	background: #FAF7D5;
}
/*#nav-list a span {
	font-size: 1.8em;
}*/

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}
/* End Header */

/* Menu */
#chicken-categories-title {
	color: #2F3749;
	text-align: center;
	font-weight: bold;
}

#chicken-categories-title + div {
	margin-bottom: 50px;
}


.menu-item-tile {
	margin-top: 30px;
	background-color: #E6EAF2;
	padding: 20px;
}
.menu-item-tile hr {
	width: 80%;
}
.menu-item-title {
	margin-top: 0;
	font-size: 1.5em;
	text-align: center;
	color: #2F3749;å
	padding-bottom: 5px;
}
.menu-item-details {
	font-size: .9em;
	color: #2F3749;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
	#nav-list {
		visibility: hidden;
		position: absolute;
	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	#nav-list {
		visibility: hidden;
		position: absolute;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#nav-list {
		visibility: hidden;
		position: absolute;
	}
}

/********** Extra small devices only **********/
@media (min-width: 409) and (max-width: 767px) {

	.menu-item-tile {
		width: 360px;
		margin: auto;
		margin-top: 30px;
			}
}

/***** Extra Extra small devices only ********/
@media (max-width: 408) {
	.menu-item-tile {
		width: 300px;
		margin: auto;
		margin-top: 30px;
	}
}